


.contact {
        /* background:linear-gradient(to right, #ffbf96, #fe7096),url(https://www.transparenttextures.com/patterns/diagmonds-light.png); */
        /* background-color:linear-gradient(to right, #ffbf96, #fe7096);
        background-image:url(../../assets/image.png); */
     
            background-image: linear-gradient(to right, #ffbf96, #fe7096), url('../../assets/image.png');
            /* background-size: cover; */
            /* Other background properties if needed */
       
          
 }

 
 .logo{
    font-family: 'Pacifico', cursive;
  }
  
  .add-icon{
    background: #64dab2a2;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .income-icon{
    background: #dce4e18f;
    color: green;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .expense-icon{
    background: #dce4e18f;
    color: red;
    
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnColor{
    background: #64dab2a2 !important;
    
  }
  

  